<div class = "container">
  <form action="answer" data-turbo="false">
    <label for="exampleInputEmail1">Ask a question</label>
    <input type="text" name="question">
    <input type="submit" value="Ask!">
  </form>
</div>
